<div class="cart-hover">
    <div class="select-items">
        <table>
            <tbody id="cart-table-body">
            </tbody>
        </table>
    </div>
    <div class="select-total">
        <span>total:</span>
        <h5 id="cart-total"></h5>
    </div>
    <div class="select-button">
        <a href="#" class="primary-btn view-card">VIEW CARD</a>
        <a href="/order/checkout" class="primary-btn checkout-btn">CHECK OUT</a>
    </div>
</div>