<div style="display:flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;">
<div id="mapid" style="height:80vh;width:60vw">

</div>


    <div id="pie-chart-container" style="height: 500px;width: 500px;">
        <canvas id="pieChart"></canvas>
    </div>
    <div id="radar-chart-container" style="height: 500px;width: 500px;">
        <canvas id="radarChart"></canvas>
    </div>
    <div id="bar-chart-container" style="height: 500px;width: 500px;">
        <canvas id="barChart"></canvas>
    </div>

</div>
<script>
    var baseLayer = L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '...',
            maxZoom: 25
        }
    );

    var map = new L.Map('mapid', {
        center: new L.LatLng(30.152586, 78.772548),
        zoom: 8,
        layers: [baseLayer]
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0" defer></script>
<script src="/ajax/chart.js"></script>