<div id="mapid" style="height:100vh">

</div>


<script>
    // import "heatmap.js";
    // import '../assets/js/leaflet-heatmap';

    var testData = {
        max: 10,
        data: [{
            lat: 30.316496,
            lng: 78.032111,
            count: 10
        }, {
            lat: 29.316496,
            lng: 78.032111,
            count: 5
        }]
    };

    var baseLayer = L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '...',
            maxZoom: 25
        }
    );

    var cfg = {
        // radius should be small ONLY if scaleRadius is true (or small radius is intended)
        // if scaleRadius is false it will be the constant radius used in pixels
        "radius": 0.04,
        "maxOpacity": .8,
        // scales the radius based on map zoom
        "scaleRadius": true,
        // if set to false the heatmap uses the global maximum for colorization
        // if activated: uses the data maximum within the current map boundaries
        //   (there will always be a red spot with useLocalExtremas true)
        "useLocalExtrema": true,
        // which field name in your data represents the latitude - default "lat"
        latField: 'lat',
        // which field name in your data represents the longitude - default "lng"
        lngField: 'lng',
        // which field name in your data represents the data value - default "value"
        valueField: 'count'
    };


    var heatmapLayer = new HeatmapOverlay(cfg);

    var func = ({
            lat,
            lng
        }) => {
            console.log("rendering map", lat, lng);
            var map = new L.Map('mapid', {
                center: new L.LatLng(lat, lng),
                zoom: 10,
                layers: [baseLayer, heatmapLayer]
            });
        }
        // func();

    heatmapLayer.setData(testData);
</script>
<script>
    function helper() {
        $.ajax({
            type: "get",
            url: "/change-center",
            success: function(data) {
                func({
                    lat: 30.316496,
                    lng: 78.032111
                });

            },
            error: function(err) {
                console.log(err);
            }
        });
    }
    helper();
</script>