* { box-sizing: border-box; }

body { font-family: sans-serif; }

.scene {
  width: 400px;
  height: 400px;
  border: 1px solid #CCC;
  margin: 80px;
  perspective: 700px;
}

.cube {
  width: 400px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-225px);
  transition: transform 1s;
}

.cube.show-front  { transform: translateZ(-225px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-225px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-225px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-225px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-225px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-225px) rotateX(  90deg); }

.cube__face {
  position: absolute;
  width: 450px;
  height: 450px;
  border: 2px solid black;
  line-height: 400px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  background: rgb(238,174,202);
  background: radial-gradient(circle, #ECE9E6 0%, #ffffff 100%);
}

/* .cube__face--front  { background: white }
.cube__face--right  { background: white }
.cube__face--back   { background: white }
.cube__face--left   { background: white }
.cube__face--top    { background: white }
.cube__face--bottom { background: white } */

.cube__face--front  { transform: rotateY(  0deg) translateZ(225px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(225px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(225px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(225px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(225px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(225px); }

label { margin-right: 10px; }